.create-team-form__actions {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.create-team-form__cancel-button {
  margin-top: 0;
  background-color: rgb(75, 85, 99);
}

.create-team-form__cancel-button:hover {
  background-color: rgb(55, 65, 81);
}

.create-team-form__button-text {
  font-family: "Lexend", sans-serif;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
