.admin-games-page {
  display: flex;
  flex-direction: column;
}

.admin-games-page__card {
  margin-top: 40px;
  align-self: center;
}

.admin-games-page__card-inner {
  min-width: 600px;
  background-color: rgb(30 41 59);
}

.admin-games-page__games-list {
  margin-top: 40px;
  min-width: 600px;
  align-self: center;
}
