.auth-template {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: linear-gradient(rgba(10, 19, 36, 0.92), rgba(10, 19, 36, 0.92)), url("/src/assets/background-main-layout.png");
  background-size: cover;
  background-position: center;
}

.auth-template__field-lines {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: repeating-linear-gradient(90deg, transparent, transparent 99px, rgba(203, 213, 225, 0.05) 100px);
  pointer-events: none;
}

.auth-template__hash-marks {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 20px;
  background-image: repeating-linear-gradient(90deg, rgba(203, 213, 225, 0.1) 0, rgba(203, 213, 225, 0.1) 2px, transparent 2px, transparent 20px);
  transform: translatey(-50%);
  opacity: 0.3;
}
