.admin-users-page {
  display: flex;
  flex-direction: column;
}

.admin-users-page__card {
  margin-top: 40px;
  align-self: center;
}

.admin-users-page__card-inner {
  min-width: 600px;
  background-color: rgb(30 41 59);
}

.admin-users-page__users-list {
  margin-top: 40px;
  min-width: 600px;
  align-self: center;
}
